body {
    font-family: Arial;
    font-size: 10px;
}

table {
    font-size: 1.4em;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
}

.header {
    background: #efefef;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 7px;
}

.footer {
    background: #efefef;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 7px;
    float: left;
    width: 100%;
}

.logo-1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: cursive;
    color: gray;
}

.logo-2 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: cursive;
    color: purple;
}

#main-content {
    position: relative;
}

#menu {
    background: fuchsia;
    float: left;
    width: 15%;
    height: 80%;
}

#content {
    float: left;
    width: 83%;
    padding-left: 2%;
}

ul {
    list-style: none;
    list-style-type: none;
}

li {
    padding-bottom: 5px;
}